@model OmertexBusTicketsSystem.ViewModels.UsersTicketsViewModel

@{
    ViewBag.Title = "TicketPassenger";
}

<h2>TicketPassenger</h2>

@using (Html.BeginForm("BuyTickets", "Tickets"))
{
    <table width="100%">
        <thead> </thead>
        <td>Info about ticket</td><td>Enter data about passenger</td>

        @for (int i = 0; i < Model.ReservedTickets.TicketAdvanced.Count; i++)
        {
            <tr>
                <td>
                    Specified voyage name: @Model.ReservedTickets.TicketAdvanced[i].VoyageName <br/>
                    Departure datetime: @Model.ReservedTickets.TicketAdvanced[i].DepartureDateTime<br/>
                    Departure Bus Stop: @Model.ReservedTickets.TicketAdvanced[i].BusStopDepartureName<br/>
                    Arrival datetime: @Model.ReservedTickets.TicketAdvanced[i].ArrivaDateTime<br/>
                    Arrival Bus Stop: @Model.ReservedTickets.TicketAdvanced[i].BusStopArrivalName<br/>
                    Seat number: @Model.ReservedTickets.TicketAdvanced[i].SeatNumber.ToString()<br/>
                    Ticket cost: @Model.ReservedTickets.TicketAdvanced[i].TicketCost.ToString()<br/>
                    @Html.HiddenFor(m => Model.ReservedTickets.TicketAdvanced[i].Id)<br />
                </td>
                <td>
                    Passenger's Firstname: @Html.TextBoxFor(m => Model.ReservedTickets.TicketAdvanced[i].PassengerViewModel.Firstame)<br />
                    Passenger's Surname :@Html.TextBoxFor(m => Model.ReservedTickets.TicketAdvanced[i].PassengerViewModel.Surname)<br />
                    Passenger's Document number : @Html.TextBoxFor(m => Model.ReservedTickets.TicketAdvanced[i].PassengerViewModel.DocumentNumber)<br />
                    Passenger's Birthdate :@Html.TextBoxFor(m => Model.ReservedTickets.TicketAdvanced[i].PassengerViewModel.Birthdate)<br />
                    

                </td>
            </tr>
        }
        <tr>
            <td>
                <input type="submit" value="Submit"/>
            </td>
        </tr>

    </table>
}