@model IEnumerable<OmertexBusTicketsSystem.ViewModels.VoyageViewModel>

<table border="1">
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.VoyageName</td>
            <td>@item.Departure</td>
            <td>@item.DepartureStop</td>
            <td>@item.Arrival</td>
            <td>@item.ArrivalStop</td>
            <td>
                @Html.ActionLink("Reserve Tickets", "ReserveTickets", new { id=item.Id }) |
            </td>
        </tr>

    }
</table>