@model List<OmertexBusTicketsSystem.ViewModels.TicketSimpleViewModel>

@{
    ViewBag.Title = "ReserveTickets";
}

<h2>ReserveTickets</h2>



<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.CheckBoxFor(m => item.Checked)
            @Html.Label(item.Info)
            @Html.Label(item.SeatNumber.ToString())
            @Html.HiddenFor(m => item.Id)
            @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
        </td>
    </tr>
}

</table>
