@model List<OmertexBusTicketsSystem.ViewModels.TicketSimpleViewModel>

@{
    ViewBag.Title = "ReserveTickets";
}

<h2>ReserveTickets</h2>


@using (Html.BeginForm("Index", "Home"))
{
    <table width="100%">
        
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.CheckBoxFor(m => item.Checked)
            @Html.Label(item.Info)
            @Html.Label(item.SeatNumber.ToString())
            @Html.HiddenFor(m => item.Id)
            @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
            @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
        </td>
    </tr>
}
        <tr>
            <td>
                <input type="submit" value="Submit" />
            </td>
        </tr>
        <tr>
            <td>
                @ViewBag.Country
            </td>
        </tr>
    </table>
}

